In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/health_spending.csv')
df.head(n=10)

     state_usa  avg_spending  min_spending  max_spending
0      Alabama        200.50          50.0         500.0
1       Alaska        300.25         100.0         750.0
2      Arizona        150.00          25.0         300.0
3     Arkansas        175.00          75.0         400.0
4   California        250.75          50.0         600.0
5     Colorado        225.50         100.0         500.0
6  Connecticut        300.00         150.0         700.0
7     Delaware        175.50          75.0         350.0
8      Florida        175.25          50.0         400.0
9      Georgia        200.00          75.0         450.0

In [35]:
df = df.groupby('state_usa').agg('mean')['avg_spending']
df.sort_values(ascending=False).head(5)

state_usa
Hawaii           350.00
Rhode Island     350.00
New Jersey       350.00
Massachusetts    350.00
Alaska           300.25
Name: avg_spending, dtype: float64